.listOfBeers {
  margin: 1% 0%;
  display: flex;
  justify-content: space-between;
  border-bottom: thin solid gray;
  text-decoration: none;
  .articleImage {
    width: 30%;
  }
  img {
    height: 150px;
    margin: 1%;
    flex-shrink: 0;
  }
  article {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    flex-grow: 3;
  }
  h3 {
    line-height: 1em;
  }
}

.inputSearch {
  width: 80%;
  margin: 2% 10%;
  color: rgb(107, 94, 94);
  background-color: pink;
  border: none;
  border-radius: 3px;
  box-shadow: 0 0 1em pink;
}
